<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="tiota.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <nlog>
      <targets>
        <target name="LogFile" type="File" fileName="ToOTA.log" layout="${longdate} ${callsite} ${level} ${message}"/>
      </targets>
      <rules>
        <logger name="Name.Space.*" minlevel="Warn" writeTo="LogFile" />
      </rules>
    </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <tiota.Properties.Settings>
            <setting name="LastComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LastCsvFile" serializeAs="String">
                <value>""</value>
            </setting>
        </tiota.Properties.Settings>
    </userSettings>
</configuration>